*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    min-height: 910px;
}

a{text-decoration: none; color: #fff;}

img {
    display: block;
    max-width: 100%;
}

.social {
    grid-area: card;
    place-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-block: 24px;
    padding: 24px;
    width: min(100%, 384px);
    border-radius: 12px;
    background-color: #1f1f1f;
}

.social_profile {
    width: 110px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.social__info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.social_name {
    font-weight: 700;
    font-size: 24px;
}

.social_location {
    font-weight: 700;
    color: hsl(75, 94%, 57%);
}

.social_list {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    text-align: center;
    gap: 16px;
}

.social_link {
    display: block;
    font-weight: 700;
    background-color: hsl(0, 0%, 20%);
    padding: 12px;
    border-radius: 8px;
    transition: all 500ms ease-in-out;
}

.social_link:hover,
.social_link:focus-visible {
    color: hsl(0, 0%, 20%);
    background-color: hsl(75, 94%, 57%);
}